DATABASE_URL=postgresql://postgres:postgres@localhost:5432/dev
NEXT_PUBLIC_API_URL=http://localhost:8000/trpc
WEB_URL=http://localhost:3000
JWT_SECRET=SUPER_SECURE_SUPER_LONG_SUPER_PROTECTED_STRING
SALT=12 //no for bycrpt